{% extends "core/base_course.html" %}

{% block content %}
    <dl class="talk">
        {% include "core/snippet_course.html" %}
        <dd>
            <ul class="horizontal speakers">
                {% for speaker in course.speakers.all %}
                    <li class="item"><a href="{{ speaker.get_absolute_url }}">{{ speaker.name }}</a></li>
                {% empty %}
                    <li class="item">Nenhum palestrante cadastrado!</li>
                {% endfor %}
            </ul>
        </dd>
    </dl>
{% endblock content %}
