<div class="speaker cf">
    <a class="avatar" href="{{ speaker.get_absolute_url }}"><img src="{{ speaker.get_avatar }}" width="80" height="80" alt="{{ speaker.name }}" /></a>
    <div class="info">
        <div class="additional-info resume">
            <h3>Bio:</h3>
            <p>{{ speaker.description }}</p>
            <h3>Site:</h3>
            <p><a href="{{ speaker.url }}">{{ speaker.url }}</a></p>
        </div>
        {% if show_all_info %}
            <div class="additional-info contact"></div>
            <div class="additional-info talk"></div>
        {% endif %}
    </div>
</div>
