{% extends "core/base_course.html" %}

{% block content %}
    <h3>Manhã</h3>
    <dl class="talk">
        {% for course in morning %}
            {% include "core/snippet_course.html" %}
        {% empty %}
            <dt class="message">Não há cursos para o período da manhã.</dt>
        {% endfor %}
    </dl>
    <h3>Tarde</h3>
    <dl class="talk">
        {% for course in afternoon %}
            {% include "core/snippet_course.html" %}
        {% empty %}
            <dt class="message">Não há cursos para o período da tarde.</dt>
        {% endfor %}
    </dl>
{% endblock content %}