{% extends "base.html" %}

{% block pade_id %}home{% endblock pade_id %}

{% block content %}
    <p>O evento mais sensacional do ano, depois do <strong class="highlight" lang="en">Dev in Rio</strong>.</p>
    <p>Você não pode perder esta oportunidade!</p>
    <p class="highlight"><a href="{% url subscription:subscribe %}">Faça sua inscrição já!</a>.</p>
    <p>Em caso de dúvidadas ou para maiores informações entrem em <a href="mailto:eventex@eventex.com.br">contato conosco</a>.</p>
{% endblock content %}